* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-size: 16px;
    font-family: 'Segoe UI', Helvetica, sans-serif;
}


header {
    display: flex;
    flex-direction: column;
}

header .logo {
    height: 4rem;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

header .logo img{
    display: block;
}

header .filter-wrap {
    background-color: #29B1DD;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .filter-wrap > div {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header label {
    margin-right: 0.5rem;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

main .icon-box {
    width: 12rem;
    height: 6rem;
    margin: 1rem;
    background-color: white;
    box-shadow: 2px 2px 0 0 #999;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .icon-box p {
    margin-top: 0.25rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}

main .icon-box i {
    font-size: 2.5rem;
}